**/node_modules
npm*log
venv/*
**/build/*
**/bower_components/*
**/.sass-cache/*
**/sass-cache/*
frontend/build
*.tmp
**/.module-cache/
*.swp
*.orig
*.local
*.pyc
*~
.checkmate/*
*#
.npmignore
**/.sass-cache
