<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv=”content-encoding” content=”gzip” />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Gitboard</title>

    <link rel="stylesheet" type="text/css" href="static/css/main.css" />

</head>

<body>
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div id="nav-head" class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand" href="#">Gitboard</a>
          </div>
          <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
            </ul>

          </div><!--/.nav-collapse -->
        </div>
      </nav>

      <div id="header">
      </div>

      <section id="app">
      </section>


      <footer class="footer navbar-fixed-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
                <p class="text-muted">
                    Made by <a href="http://www.andreas-dewes.de/en">Andreas Dewes</a> // 
                    <a href="https://github.com/adewes/gitboard">Github</a> //
                    <a href="http://twitter.com/japh44" target="_blank">Twitter</a>
                </p>
            </div>
          </div>
        </div>
      </footer>

    <script src="static/js/config.js"></script>
    <script data-main="js/main" src="static/bower_components/requirejs/require.js"></script>

  </body>
</html>
