.modal-backdrop{
    z-index: -1;
}

.modal .modal-body {
    max-height: 420px !important;
    overflow: auto;
    z-index:1060;
}

.container-wide{
    width:auto;
    max-width:1600px;
    min-width:1200px;
    padding:15px;
    margin:0 auto;
}

.navbar{
    position:fixed;
    width:100%;
    margin-top:-60px;
}

.container{
    width:auto;
    max-width:1600px;
}

body{
    margin-top:60px !important;
}

/*Request Indicator*/

p.request-indicator {

    width: auto;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -70px;
    border: 1px solid get-color(gold, dark);
    border-top: none;
    padding: 5px 15px;
    font-size: 12px;
    z-index: 1000;
    background: get-color(gold, light);
    color: get-color(grayscale, dark);
    text-align: center;

    -webkit-box-shadow: 0px 2px 3px 0px get-color(black, $alpha: 0.3);
    -moz-box-shadow:    0px 2px 3px 0px get-color(black, $alpha: 0.3);
    box-shadow:         0px 2px 3px 0px get-color(black, $alpha: 0.3);

    > a {
        color: get-color(grayscale, dark);

        &:hover {
            text-decoration: none;
        }
        > .fa-spin, > .fa-exclamation-triangle {
            margin-right: 5px;
        }
    }
}