.modal-backdrop{
    z-index: -1;
}
.modal .modal-body {
    max-height: 420px !important;
    overflow: auto;
    z-index:1060;
}
.container-wide{
    width:auto;
    max-width:1600px;
    min-width:1200px;
    padding:15px;
    margin:0 auto;
}
.navbar{
    position:fixed;
    width:100%;
    margin-top:-60px;
}
.container{
    width:auto;
    max-width:1600px;
}
body{
    margin-top:60px !important;
}
